<aside>
    <div class="logos"><div class="circle">G</div><span>GUARD PORTAL</span></div>
    <div class="buttons">
        <a href="/guard/scan" {% if active_page == 'scan' %}class="active"{% endif %}><i class="bi bi-qr-code-scan"></i> Scanner</a>
        <a href="/guard/history" {% if active_page == 'history' %}class="active"{% endif %}><i class="bi bi-clock-history"></i> My History</a>
        <a href="/guard/parking" {% if active_page == 'parking' %}class="active"{% endif %}><i class="bi bi-p-circle"></i> Parking</a>
        <a href="/guard/profile" {% if active_page == 'profile' %}class="active"{% endif %}><i class="bi bi-person-circle"></i> Profile</a>
    </div>
    <div class="logout"><button onclick="window.location.href='/auth/logout'"><i class="bi bi-box-arrow-left"></i> Logout</button></div>
</aside>
