<aside>
    <div class="logos">
        <div class="logo"><img src="https://www.freeiconspng.com/thumbs/car-icon-png/car-icon-png-25.png" alt="logo"></div>
        <h2>GSD Parking</h2>
    </div>
    <div class="butt">
        <p class="sml">Overview</p>
        <button {% if active_page == 'dashboard' %}class="active-nav"{% endif %} onclick="window.location.href='/admin/dashboard'"><i class="bi bi-clipboard-data"></i> Dashboard</button>
        <p class="sml">Management</p>
        <button {% if active_page == 'park' %}class="active-nav"{% endif %} onclick="window.location.href='/admin/park'"><i class="bi bi-p-circle"></i> Parking</button>
        <button {% if active_page == 'users' %}class="active-nav"{% endif %} onclick="window.location.href='/admin/users'"><i class="bi bi-people-fill"></i> Manage Users</button>
        <p class="sml">Analytics</p>
        <button {% if active_page == 'reports' %}class="active-nav"{% endif %} onclick="window.location.href='/admin/reports'"><i class="bi bi-graph-up-arrow"></i> Reports & Logs</button>
        <p class="sml">Account</p>
        <button {% if active_page == 'profile' %}class="active-nav"{% endif %} onclick="window.location.href='/admin/profile'"><i class="bi bi-person-circle"></i> Profile</button>
    </div>
    <div class="sidebar-footer">
        <button class="logout-btn" onclick="window.location.href='/auth/logout'"><i class="bi bi-box-arrow-left"></i> Logout</button>
    </div>
</aside>
